* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1em 0;
  background-color: lavenderblush;
}

aside {
  background-color: lightblue;
}

.container {
  background-color: papayawhip;
  width: 60%;
  margin: 0 auto;
  padding: 1em 0;
}

label {
  display: block;
}

.info-collection {
  display: flex;
  justify-content: space-around;
  
}

#submit-holder {
  margin: 1em auto 0 auto;
  text-align: center;
}

input[type="submit"]
 {
  width: 30%;
  height: 3em;
}

input[type="datetime-local"],
#bar-selector {
  
  height: 30px;
}

fieldset {
  padding: 2em;
  width: 80%;
  margin: 0 auto;
  border: none;
}